<h1>Look below, these are the articles I have created</h1>

<div>
    <ul id="articles">
      <% @articles.each do |article| %>
        <li>
          <%= link_to article.title, article_path(article),
          class: 'article_title', id: "article_#{article.id}" %>
        </li>
      <% end %>
    </ul>
</div>

<div>
    <ul id="articles">
      <%= link_to "Create a new article", new_article_path, class: "new_article" %>
    </ul>
</div>